body{
    background-color: rgb(12, 3, 3);
    color: #fff;
    font-family:'Courier New', Courier, monospace ;
    padding: 0;
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

.container {
  max-width: 96vw;
  max-height: 100vw;
  
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

navigation a{
    flex-direction: column;
    transition: transform 0.2s ease;
    font-size: .7rem;
    text-decoration: none;
    color: #fff;
}

.textbox1 {
  display: none;   
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  top: 2vw;
  left: 74vw;
  font-size: 14px;
  width: 17vw;
  height: 28vh;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.textbox2 {
  display: none;   
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  top: 7vw;
  left: 72vw;
  font-size: 14px;
  width: 15vw;
  height: 10vh;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.label2{
  color: rgb(24, 11, 61);
}


.label{
    justify-content: flex-end;
    left: -1.vw;
    opacity: 0;
    font-family: cursive;
    top: -8vw;
    display: flex;
    position: relative;
    color: rgb(235, 235, 37);
}

.label:hover{
  opacity: 1;
}

ion-icon{
  display: flex;
  position: relative;
  left: 92vw;
  margin: 1vw;
  justify-items: flex-end;
  top: -7vw;
}



 #about, #contact{
    display: flex;
    position: relative;
    justify-items: flex-end;
    width: 3vw;
    height: 4vh;
    color: rgb(235, 235, 37);
}


#about:hover{
    transform: scale(1.2);
}

#contact:hover{
    transform: scale(1.2);
}


.intro{
  position: relative;
  padding: 0.7vw;
  margin-left: 8vw;
  font-size: 1.5vw;
  margin-top: -5vw;
  color: white;
  letter-spacing: -6px;
  line-height: 1.3;
  top: -4vw;
  transition: transform 0.2s ease;
}



#typing{
    width: 1.9vw;
    height: 1.5vw;
    background-color: #fff;
    position: relative;
    display: flex;
    left: 58vw;
    top: -2.4vw;
    animation: blink 1s infinite;
}

@keyframes blink{
    50%{
        background-color: rgb(12, 3, 3);
    }
}

p{
font-size: 1.2vw;
margin: vw;
font-family:'Courier New', Courier, monospace ;
color: white;
letter-spacing: 6px;
position: relative;
}


.intro .pop:hover{
   position: relative;
   color: rgb(235, 235, 37);
   top: -6px;
   animation: bounce 1s ease-in-out;
   transform: scale(1.2);
}

.space{
    color: transparent;
}

#html{
  color: rgb(231, 153, 7);
}

#css{
  color: rgb(62, 62, 206);
}

#JS{
  color: rgb(221, 221, 19);
}

#figma{
  color: rgb(139, 15, 15);
}

.git{
  position: relative;
  padding-right: 6px;
  color: purple;
  left: -12vw;
  width: 3vw;
  height: 5.5vh;
  top: 5vh;
  display: flex;
  cursor: pointer;
}

.git:hover{
  transform: scale(1.2) ;
}

.link{
  position: relative;
  padding-left: 6px;
  display: flex;
  color: blue;
  left: -11vw;
  width: 3vw;
  height: 6vh;
  top: 5vh;
  cursor: pointer;
}

.link:hover{
  transform: scale(1.2);
}

#click{
  text-align: center;
  position: relative;
  margin-left: 2vw; 
}

.logos{
  margin-top: 3vh;
    position: relative;
  display: flex;
  left: 1vw;
  top: -1vh;
  width: 5vw;
  height: 5vh;
}

#logos{
  border: 1px solid white;
  border-radius: 13px;
  width: 21vw;
  height: 8vh;
  position: relative;
  display: flex;
  left: 19vw;
  top: 4vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

#social{
  position: relative;
  display: flex;
  border: 1px solid white;
  border-radius: 13px;
  width: 17vw;
  height: 15vh;
  left: 45vw;
  top: -4vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

#ht{
display: flex;
color: rgb(235, 235, 37);
font-family: cursive;
margin: 1vw;
top: -8vw;
padding-bottom: 2vw;
}

#ml{
color: rgb(235, 235, 37);
font-family: cursive;
left: -19vw;
bottom: -6vw;
position: relative;
}

.h1{
    position: relative;
    top: -7vw;
    margin: 5px;
    left: 11vw;
    font-family: cursive;
    color: rgb(235, 235, 37);
}



.h2{
    top: -4vw;
    position: relative;
    right: -45vw;
    font-family: cursive;
    color: rgb(235, 235, 37);
}

.tag1{
position: relative;
font-family: cursive;
margin: 5vw;
bottom: 2vw;
color:rgb(235, 235, 37)
}

.tag2{
    position: relative;
    font-family: cursive; 
    color: rgb(235, 235, 37);
    bottom: -4vw;
    right: -1vw;
    margin: 6vw;
    padding: 0.8vw;
}

@media (max-width: 1300px){
  .intro{
    font-size: 1.5vw;
    line-height: 1.2;
  }

  #typing{
    left: 64vw;
    top: -2vw;
  }

  .tag2{
    bottom: -10vw;
  }

  #ml{
    bottom: -12vw;
  }
}

@media (max-width: 1200px){
  .intro{
    font-size: 1.8vw;
    line-height: .8;
  }

  #typing{
    left: 76vw;
    top: -1.7vw;
  }

  .tag2{
    bottom: -10vw;
  }

  #ml{
    bottom: -12vw;
  }
}

@media (max-width: 1100px){
  .intro{
    font-size: medium;
    line-height: 1.4;
  }

  .textbox1{
    height: 35vh;
  }

  .textbox2{
    height: 9vw;
  }

  #typing{
    left: 56vw;
    top: -1.7vw;
  }

  .tag2{
    bottom: -10vw;
  }

  #ml{
    bottom: -12vw;
  }
}

@media (max-width: 1030px){
  .intro{
    font-size: 1.8vw;
    line-height: 2;
  }

  .textbox1{
    height: 36vh;
  }

  .textbox2{
    width: 17vw;
  }

  #typing{
    left: 78vw;
    top: -5vw;
  }

  .tag2{
    bottom: -10vw;
  }

  #ml{
    bottom: -15vw;
  }
}

@media (max-width: 920px){
  .intro{
    font-size: medium;
    line-height: 2.5;
  }

  #typing{
    left: 73vw;
    top: -5vw;
  }

  .textbox1{
    height: 49vh;
  }

  .textbox2{
    width: 18vw;
    height: 16vh;
  }

  .tag2{
    bottom: -14vw;
  }

  .git{
    left: -15vw;
  }

  .link{
    left: -13vw;
  }

  #social{
    top: 5vh;
  }

  #logos{
    top: 15vh;
  }

  #ml{
    bottom: -16vw;
  }
}

 @media (max-width: 900px){
  .intro{
    font-size: medium;
    line-height: 1.2;
  }

  .textbox1{
    height: 53vh;
  }

  .textbox2{
    height: 18vh;
  }

  #ml{
    bottom: -3vw;
    left: 1.vw;
  }

  .tag2{
    bottom: .6vw;
    left: -1vw;
  }

  #typing{
    left: 63vw;
    top: -4vh;
  }

  #social{
    top: -6vh;
  }

 #logos{
  top: 6vh;
 }
 }

@media (max-width: 768px) {
  nav {
    justify-content: flex-end;
  }

  .intro {
    font-size: medium;
    line-height: 0.9;
    top: -10vh;
    position: relative;
    left: -1.5vw;
  }

  .textbox1{
    height: 60vh;
    left: 65vw;
    font-size: small;
  }

  .textbox2{
    width: 23vw;
    left: 60vw;
  }

  #social{
    width: 25vw;
    height: 18vh;
  }

  .git{
    top: 4vh;
    left: -19vw;
    width: 4vw;
    height: 13vh;
  }

  .link{
    top: 4vh;
    left: -19vw;
    width: 4vw;
    height: 13vh;
  }

  .h2{
    top: -10vw;
    right: -57vw;
  }

.h1{
  top: -10vw;
}

  .tag2{
top: 10vw;
left: -2vw;
  }

  #ml{
    top: 14vw;
    left: -22vw;
  }

 .label{
  left: -1vw;
 }

  p {
    font-size: 2.2vw;
  }

  #typing{
    left: 29vw;
  }
}

@media (max-width: 860px) {
  .intro{
    font-size: 2vw;
    line-height: 2;
  }

  .textbox1{
    height: 32vw;
    left: 72vw;
    font-size: small;
  }

  .textbox2{
    height: 11vw;
    width: 19vw;
    left: 70vw;
    font-size: small;
  }

  #logos{
    top: 12vh;
  }

  #social{
    top: 1vh;
    width: 22vw;
    height: 16vh;
  }

  .git, .link{
    width: 4vw;
    height: 6vh;
    left: -17vw;
    top: 6vh;
  }

  #click{
    font-size: medium;
  }

#typing{
  left: 75vw;
  top: -5vw;
}

.tag2{
bottom: -17vw;
}

#ml{
  bottom: -20vw;
}
}

@media (max-width: 820px) {
  .intro{
    line-height: 2;
    font-size: medium;
  }

  .textbox1{
    font-size: x-small;
    left: 65vw;
    height: 30vh;

  }

  .textbox2{
     left: 63vw;
    height: 12vh;
    font-size: x-small;
  }

  #social{
    width: 24vw;
  }

  #typing{
    left: 70vw;
    top: -4.5vw;
  }

  .tag2{
    bottom: -21vw;
  }

  #ml{
    bottom: -25vw;
    left: -22vw;
  }

  ion-icon{
    left: 86vw;
  }

  .label{
    left: -6vw;
  }
}

@media (max-width: 540px){
  .intro{
    font-size: 2vw;
    left: -2vw;
    margin-top: 5vw;
  }

  #ht, #ml, .tag1, .tag2, .h1, .h2{
    font-size: small;
  }

  .textbox1{
    font-size: x-small;
    width: 34vw;
    left: 45vw;
    height: 23vh;
  }

  .textbox2{
    font-size: x-small;
    width: 28vw;
    left: 52vw;
    height: 8vh;
  }

  #click{
    font-size: 1.6vw;
  }

  .git, .link{
    left: -20vw;
    width: 5vw;
    top: 4vh;
  }

  #social{
    height: 13vh;
  }

  #ml{
    left: -27vw;
  }

  #typing{
    top: -5vw;
    left: 69vw
  }

  .label{
    right: -2.5vw; 
    top: -9.5vw;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }

  #about, #contact{
    left: 88vw;
    top: 3vh;

  }

  .textbox1{
    font-size: x-small;
    width: 40vw;
    left: 38vw;
    height: 20vh;
    z-index: 1;
  }

  .textbox2{
    left: 42vw;
    font-size: x-small;
    height: 10vh;
    width: 32vw;
  }

  #about, #contact{
    left: 76vh;
  }

  .intro{
    font-size: small;
     line-height: 6vw;
     top: -17vw;
     margin-left: 4vw; 
     position: relative;
  }

  p{
    line-height: 9vw;
  }

  .h1{
    top: -13vw;
    margin: 2vw;
    left: 15vw;
  }

  .h2{
    top: -24vw;
  }

 ion-icon{
  top: -3vw;
  left: 90vw;
 }

 #logos{
  top: -10vh;
  width: 26vw;
 }

 #social{
  top: -20vh;
  width: 26vw;
  left: 50vw;
 }

 #click{
  top: -2vh;
 }

  #ml{
    left: -24vw;
    top: 19vw;
  }

  .tag2{
    left: -2vw;
    top: 14vw;
  }

  #typing {
    height: 14px;
    width: 14px;
    top: -4vw;
    left: 84vw;
  }

  navigation a{
    top: -10vw;
    position: relative;
  }
}

@media (max-width: 450px) {
  .intro{
    line-height: 2;
    font-size: 2.5vw;
  }

  .textbox1{
    font-size: x-small;
    height: 24vh;
  }

  .textbox2{
    left: 44vw;
    font-size: x-small;
    height: 10vh;
  }

  ion-icon{
    top: 3vw;
  }

  .label{
    left: 1vw;
    top: 1vw;
  }

  #ht{
    font-size: small;
  }

  .tag1{
    font-size: small;
  }

  .h1{
    font-size: small;
  }

  .h2{
    font-size: small;
  }

  .tag2{
    left: 3vw;
    top: 17vw;
    font-size: small;
  }

  #ml{
    left: -27vw;
    top: 23vw;
    font-size: small;
  }

  #typing{
    left: 76vw;
    top: -7vw
  }

  #social{
    width: 30vw;
  }

  .git, .link{
    left: -22vw;
  }

  #click{
    font-size: 2vw
  }
}

@media (max-width: 350px){
  .intro{
    font-size: 3vw;
    line-height: 2;
  }

  #about, #contact{
    top: 1vh;
  }

  .textbox1{
    font-size: xx-small;
    width: 45vw;
    left: 34vw;
    height: 22vh;
  }

  .textbox2{
    font-size: xx-small;
    width: 38vw;
    right: 7vw;
    height: 8vh;
  }

  .git, .link{
    width: 5vw;
    height: 6vh;
    left: -26vw;
    top: 5vw;
  }

  #click{
    font-size: 2vw;
    margin-left: 5vw;
  }

  #social{
    width: 37vw;
    height: 10vh;
    top: -16vh;
  }

  #logos{
    top: -6vh;
  }

  .label{
    left: 1.3vw;
    top: -6vw;
    font-size: 2.3vw;
  }

  #typing{
    left: 84vw;
    top: -8vw;
  }

  #ht{
    font-size: small;
  }

  .tag1{
    font-size: small;
  }

  .h1{
    font-size: small;
  }

  .tag2{
    font-size: small;
    top: 6vw;
  }

  .h2{
    font-size: small;
  }

  #ml{
    top: 12vw;
    font-size: small;
  }
}
/*